{% extends 'flatpages/default.html' %}

{% block title %}
Search
{% endblock title %}

{% block content %}
    <h2>Поиск по новостям</h2>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти"/>
    </form>
    {% for post in post_search %}
     <div>
     {{ post.author.user.username }}
     {{ post.title }}
     {{ post.date_created|date:'d.m.Y' }}
     {{ post.content|truncatechars:20 }}
     </div>
    {% endfor %}
{% endblock content %}